.noHayPost{
  display: flex;
  justify-content: center;

  font-size: 35px;
}

.post {
  background-color: #242526;
  margin-bottom: 10px;
}

.post-contenedor {
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 0;
  width: inherit;
}

.post-user{
  display: flex;
  justify-content: space-between;
}

.post-user-info-username{
  display: flex;
  align-items: center;
}

.post-user-info-username-figure{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-user-info-username-figure{
  background-color:antiquewhite;
  margin-right: 7px;
}

.post-user-button{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.post-user-button button{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: inherit;
  color: #fff;
  font-size: 25px;
  display: flex;
  align-items: flex-end;
}

.post-user-delete{
  position: relative;
  margin-top: 7px;
  cursor: pointer;
}

.post-text {
  width: 100%;
  word-wrap: break-word;
  padding: 15px 0;
}

.post-picture{
  display:flex;
  justify-content: center;
  margin-bottom: 10px;
}
.post-picture img{
  max-width: 100%;
}

.post-like {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
  display: flex;
  justify-content: stretch;
}

.post-like button {
  color: #fff;
  background-color: inherit;
  width: 100%;
  padding: 5px 0;
  margin: 5px 0;
}

.post-like button:hover {
  background-color: rgb(65, 64, 64);
}
.post-comment_section-input{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.post-comment_section-input{
  background-color: #3a3b3c;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 18px;
  overflow: hidden
}
.post-comment_section-input textarea,
.post-comment_section-input button,
.post-comment_section-comment button {
  background-color: #3a3b3c;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 18px;
}

.post-comment_section-input textarea {
  outline: none;
  resize: none;
  font-size: 14px;
  /* height: 14px; */
  max-height: 200px;
  width: 100%;
  margin: 10px 0;
  padding: 0 12px;
  /* padding: 0 10px; */
}

.post-comment_section-input button{
  height: 36px;
  /* height: inherit; */
  width: 100px;
  color: aliceblue;
  border-bottom-right-radius: 0;
  align-self:flex-start;
}

.post-comment_section-input button:hover{
  background-color: #3386f2;
}

.post-comment_section-list{
  display: flex;
  flex-direction: column-reverse;
}

.post-comment_section-comment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.post-comment_section-comment {
  background-color: #3a3b3c;
  border-radius: 15px;
  padding: 12px;
  margin-bottom: 7px;
}

.post-comment_section-comment button{
  width: 50px;
}
.post-comment_section-comment button:hover{
  background-color: lightcoral;
  color: black
}

.post-comment_section-comment img{
  width: 20px;
}

.post-comment_section-button{
  width: 100%;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}
.post-comment_section button{
  background-color: inherit;
  color: inherit;
  border: none;
}

.post-comment_section-comment-text{
  width: 85%;
  word-wrap: break-word;
}

.post-comment_section-comment-text p{
  margin-top: 5px;
}