.postSection{
  margin: 0 auto;
  height: inherit;
  width: 100%;
  max-width: 500px;
}

.agregar-post{
  background-color: #242526;
  margin: 20px 0;
  width: 100%;
}

.ver-post{
  display: flex;
  flex-direction: column-reverse;
}
.noHayPost{
  display: flex;
  justify-content: center;

  font-size: 35px;
}