*{
  margin: 0;
  padding: 0;
}


.login{
  background-color: #f0f2f5;
  height: inherit;
  /* height: 100vh; */
  width: 100vw;
  overflow-y: auto;
}

.login-container{
  /* min-height: 500px; */
  max-width: 1000px;
  width:90%;
  height: inherit;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-page-name{
  width:450px
}

.login-page-name h1{
  color: #3386f2;
  font-size: 4.5em;
}

.login-page-name h3{
  font-size: 1.8em;
  font-weight: lighter;
  line-height: 90%;
  margin: 3px 0;
}

.login-page-input{
  width: 100%;
}


@media (max-width: 857px) {
  .login{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .login-page-name{
    text-align: center;
    width: 100%;
  }
}

/* @media (max-width: 600px){
  .login-container{
    justify-content: space-betwseen;
  }
} */
@media (max-height: 471px) {
  .login-page-name h1{
    margin:15px 0;
  }
  .login-container{
    justify-content: unset;
  }
  .login{
    height: 100%;  
  }
}

@media (max-width: 426px){
  .login{
    height: inherit;
  }
  .login-container{
    justify-content: center;
  }

  .login-page-name h3{
    display: none;
  }

  .login-page-name h1{
    /* max-width: 100vw; */
    /* margin: 15px auto; */
    font-size: 18vw;
  }
}



