*{
  margin: 0;
  padding: 0;
}


.login{
  background-color: #f0f2f5;
  height: 100vh;
  overflow-y: scroll;
}

.login-conteiner{
  max-width: 1000px;
  width:90%;
  height: inherit;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-page-name{
  width:450px
}

.login-page-name h1{
  color: #3386f2;
  font-size: 4.5em;
}

.login-page-name h3{
  font-size: 1.8em;
  font-weight: lighter;
  line-height: 90%;
}


@media (max-width: 857px) {
  .login{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-conteiner{
    /* height: 80%; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .login-page-name{
    text-align: center;
    width: 400px;
  }
}
