*{
  padding: 0;
  margin: 0;
}

.perfil{
  width: 100%;
  /* height: inherit; */
  height: 91%;
  height: calc(100% - 60px);
  overflow: auto;

  overflow-y: auto;
  background: linear-gradient(#3386f2, 30%, #18191a);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
/* .perfil-header{
  grid-row: 1;
} */

.perfil-view{
  /* grid-row: 2; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:10px 0;
  /* height: 90%; */

  /* overflow-y: auto; */
  /* background: linear-gradient(#3386f2, 30%, #18191a);
  background-size: cover;
  background-attachment: fixed;
  color: #fff; */
}

.perfil-user-contenedor{
  width: 100%;
  display: flex;
  justify-content: center;

}

.perfil-contenedor{
  max-width: 500px;
}

.perfil-user{
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.perfil-user-imagen,
.perfil-user-imagen-avatar{
  width: 200px;
  height: 200px;

}
.perfil-user-imagen-avatar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.perfil-user-imagen-avatar{
  border-radius: 50%;
  background-color: rgb(101, 129, 153);
  overflow: hidden;
}

.perfil-user-imagen-change{
  position: relative;
  bottom: 60px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.perfil-user-imagen-change_contenedor{
  background-color:#3181e8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.perfil-user-imagen-change img{
  width: 40px;
}

.perfil-user h1{
  font-size: 2.5em;
  margin: 20px 0;
}

.perfil-user button{
  background-color: inherit;
  color: #fff;
  padding: 10px 20px;
  border-radius: 18px;
}

.perfil-user button:hover{
  background-color: #3386f2;
}

.perfil-post{
  width: 100%;
  display: flex;
  flex-direction: column;
}