button{
  border: none;
  border-radius: 5px;
}

.editModal{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Helvetica, Arial, sans-serif;
}
.editModal-conteiner{
  width: 350px;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px; 
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.editModal-conteiner small{
  align-self: center;
  color: red;
  margin-top: 4px;
  font-size: 14px;
  font-weight: bold;
  visibility: hidden;
  padding-top: 10px;
  padding-bottom: 15px
}

.editModal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 1px solid gray;
}

.closeButton{
  background-color: inherit;
  align-self: flex-start;
  font-size: 25px;
  position:relative;
  bottom: 5px;
  left: 5px; 
}

.editModal-inputs,
.editModal-inputs_contraseña{
  display: flex;
  flex-direction: column;
  padding-top: 15px
}

.editModal-inputs input,
.editModal-inputs button{
  /* height: 45px; */
  margin-bottom: 15px;
  padding: 10px;
}

.editModal-inputs input{
  border-radius: 5px;
  border: 1px solid grey;
  padding-left: 15px;
  font-size: large;
  outline: none;
  background-color: #f5f6f7;
}

.editModal-inputs input:focus{
  border: 1px solid lightskyblue;
}

.editModal-inputs_activarCont{
  display: flex;
  align-items: center;
}
.editModal-inputs_activarCont input{
  border-radius: 50%;
  margin: auto 5px;
}

.editModal-button{
  /* margin: 0 auto; */
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.editModal-button button{
  width: 100px;
  height: 35px;
  font-size: 1.2em;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
}

.editModal-button_cancelar{
  background-color: rgb(226, 56, 56);
}

.editModal-button_aceptar{
  background-color: rgb(44, 160, 44);

}