.header{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
}

.header-contenedor{
  height: 100%;
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inicio,
.closeSesion{
  margin: 0 15px;
}

.inicioButton,
.closeSesionButton{
  color: #fff;
  padding: 10px;
}

.inicioButton{
  background-color: rgb(74, 74, 231);
}

.closeSesionButton{
  background-color: #eb4b23;
}



