*{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

.header{
  color: #fff;
  background-color: #032541;
  
}

.contenedor{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.list-item{
  display: flex;
  align-items: center;
}
.list-item li{
  margin-right: 10px 
}
