
button{
  border: none;
  border-radius: 5px;
  
}

.login-box{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  /* width: 400px; */
  /* background-color: #fff; */
  /* border-radius: 10px; */
}

.login-box-conteiner{
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px; 
  display: flex;
  flex-direction: column;
}

.login-box-info{
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
}

.login-box-info form{
  display: flex;
  flex-direction: column;
}

.login-box-info input,
.login-box-info button{
  height: 45px;
  margin-bottom: 15px;
}

.login-box-info input{
  border-radius: 5px;
  border: 1px solid grey;
  padding-left: 15px;
  font-size: large;
  outline: none
}

.login-box-info input::placeholder{
  font-weight: lighter;
  
}

.login-box-info input:focus{
  border: 1px solid lightskyblue;
  /* opacity: 0.7; */
  /* font-weight:normal; */
}

.login-box-info button{
  font-size: 1.3em;
  font-weight: bold;
  color: #fff;
  background-color:#3386f2
}

.login-box-info small{
  align-self: center;
  color: red;
  font-size: 14px;
  font-weight: bold;
  visibility: hidden;
}

.register{
  margin: 0 auto;
  margin-top: 15px;
  padding: 10px;
}

.register button{
  width: 200px;
  height: 35px;
  font-size: 1em;
  color: #fff;
  background-color: rgb(44, 160, 44);
}

@media (max-width: 426px){
  .login-box{
    width: 100%;
  }
} 