.card{
  border: 1px solid green;
  width: 200px;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 20px;
}

.card-imagen{
  width: inherit;
}

.card-imagen img {
  width: inherit;
}