.search-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #242526;
}

.search-input{
  display: flex;
  align-items: center;
  width: 100%;
  background: #3a3b3c;
  height: 34px;
  border-radius: 17px;
  overflow: hidden;
}

.search-input img{
  width: 20px;
}

.search-input input{
  width: 100%;
  font-size: 16px;
  padding-left: 13px;
  outline: none;
  border: none;
  color: #fff;
  background: #3a3b3c;
}

.search-input button{
  height: 100%;
  padding: 0 7px;
  background-color: #838282;
  border: none;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input_search:hover{
  background: darkgray;
}